@media (max-width: 374px) {
    
    .container-nav-item {
        flex-direction: column;
        gap: 10px;
    }

    #contacts-item {
        flex-direction: column;
    }

    .feedback {
        width: 100% !important;
    }
}